<p id="notice"><%= notice %></p>

<h1>Registries</h1>

<table>
  <thead>
    <tr>
      <th>Consecutivo</th>
      <th>Folio</th>
      <th>Year folio</th>
      <th>Expedient</th>
      <th>City</th>
      <th>Authority</th>
      <th>Anexos recibidos</th>
      <th>Fecha recepcion</th>
      <th>Expert</th>
      <th>Fecha entrega</th>
      <th>Result</th>
      <th>Anexos entregados</th>
      <th>Observaciones</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @registries.each do |registry| %>
      <tr>
        <td><%= registry.consecutivo %></td>
        <td><%= registry.folio %></td>
        <td><%= registry.year_folio %></td>
        <td><%= registry.expedient.expediente %></td>
        <td><%= registry.city.ciudad %></td>
        <td><%= "#{registry.authority.title.titulo} #{registry.authority.nombres} #{registry.authority.apellidos}" %></td>
        <td><%= registry.anexos_recibidos %></td>
        <td><%= registry.fecha_recepcion %></td>
        <td><%= "#{registry.expert.nombres} #{registry.expert.apellidos}" %></td>
        <td><%= registry.fecha_entrega %></td>
        <td><%= registry.result.resultado %></td>
        <td><%= registry.anexos_entregados %></td>
        <td><%= registry.observaciones %></td>
        <td><%= link_to 'Show', registry %></td>
        <td><%= link_to 'Edit', edit_registry_path(registry) %></td>
        <td><%= link_to 'Destroy', registry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Registry', new_registry_path %>
