<p id="notice"><%= notice %></p>

<h1>Authorities</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Nombres</th>
      <th>Apellidos</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @authorities.each do |authority| %>
      <tr>
        <td><%= authority.title.titulo %></td>
        <td><%= authority.nombres %></td>
        <td><%= authority.apellidos %></td>

        <td><%= link_to 'Show', authority %></td>
        <td><%= link_to 'Edit', edit_authority_path(authority) %></td>
        <td><%= link_to 'Destroy', authority, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Authority', new_authority_path %>
