<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @authority.title.titulo %>
</p>

<p>
  <strong>Nombres:</strong>
  <%= @authority.nombres %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @authority.apellidos %>
</p>



<%= link_to 'Edit', edit_authority_path(@authority) %> |
<%= link_to 'Back', authorities_path %>
