<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @authority.nombre %>
</p>

<p>
  <strong>Puesto:</strong>
  <%= @authority.puesto %>
</p>



<%= link_to 'Edit', edit_authority_path(@authority) %> |
<%= link_to 'Back', authorities_path %>
