<%= form_with(model: validation, local: true) do |form| %>
  <% if validation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(validation.errors.count, "error") %> prohibited this validation from being saved:</h2>

      <ul>
      <% validation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :registry_id %>
    <%= form.select :registry_id, Registry.all.map { |r| [r.folio, r.id]}, :prompt => "select one" %>
  </div>

  <div class="field">
    <%= form.label :nombres %>
    <%= form.text_field :nombres, id: :validation_nombres %>
  </div>

  <div class="field">
    <%= form.label :apellidos %>
    <%= form.text_field :apellidos, id: :validation_apellidos %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
