<p id="notice"><%= notice %></p>

<h1>Expedients</h1>

<table>
  <thead>
    <tr>
      <th>Expediente</th>
      <th>Hojas</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @expedients.each do |expedient| %>
      <tr>
        <td><%= expedient.expediente %></td>
        <td><%= expedient.hojas %></td>
        <td><%= link_to 'Show', expedient %></td>
        <td><%= link_to 'Edit', edit_expedient_path(expedient) %></td>
        <td><%= (link_to 'Caractula 1', reports_caractula1_path(expedient)) if expedient.registries.count > 0 %></td>
        <td><%= (link_to 'Caractula 2', reports_caractula2_path(expedient)) if expedient.registries.count > 0 %></td>
        <td><%= link_to 'Destroy', expedient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expedient', new_expedient_path %>
