<p id="notice"><%= notice %></p>

<p>
  <strong>Expediente:</strong>
  <%= @expedient.expediente %>
</p>

<p>
  <strong>Hojas:</strong>
  <%= @expedient.hojas %>
</p>

<%= link_to 'Edit', edit_expedient_path(@expedient) %> |
<%= link_to 'Back', expedients_path %>
