<%= form_with(model: expert, local: true) do |form| %>
  <% if expert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(expert.errors.count, "error") %> prohibited this expert from being saved:</h2>

      <ul>
      <% expert.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title_id %>
    <%= form.select :title_id, Title.all.map { |t| [t.titulo, t.id]}, :prompt => "select one" %>
  </div>

  <div class="field">
    <%= form.label :nombres %>
    <%= form.text_field :nombres, id: :expert_nombres %>
  </div>

  <div class="field">
    <%= form.label :apellidos %>
    <%= form.text_field :apellidos, id: :expert_apellidos %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
