<p id="notice"><%= notice %></p>
<p>
  <strong>Titulo:</strong>
  <%= @expert.title.titulo %>
</p>

<p>
  <strong>Nombres:</strong>
  <%= @expert.nombres %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @expert.apellidos %>
</p>

<%= link_to 'Edit', edit_expert_path(@expert) %> |
<%= link_to 'Back', experts_path %>
